:root {
  --razmer-karty-kletok-goriz: 15;
  --razmer-karty-kletok-vert: 10;
}

.igra {
  position: absolute;
  width: 100vw;
  display: flex;
}

.karta {
  position: relative;
  width: calc(100vh * 1.5);
  height: 100vh;
  margin: 0 auto;
  background-image: url(./img/map.jpg);
  background-size: 100% 100%;
  display: flex;
  flex-wrap: wrap;
}

.kletka {
  box-sizing: border-box;
  width: calc( 100% / var(--razmer-karty-kletok-goriz));
  height: calc( 100% / var(--razmer-karty-kletok-vert));

  border: 1px solid #888;

  font: bold 24px Arial;
  color: black;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.kletka-otkuda {
  outline: 10px solid yellow;
}

.kletka-kuda {
  outline: 10px solid #80A0ff;
}

.levaja-panel {
  display: flex;
  flex-direction: column;
  min-width: 10em;
}

.hod {
  padding: 1.25em 0.5em;
}

.doska {
  display: flex;
  flex-direction: column;
  max-width: 10em;
  margin: 0.5em auto;
}

.kubiki-igroka {
  margin-top: 0.25em;
  border-bottom: 1px solid #bbb;
}

.kubiki {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.kubik {
  width: 30px;
  height: 30px;
  border: 1px solid #444;
  margin: 0.25em;

  background-size: auto 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.kubik-ataki {
  background-image: url(./img/cube-attack.png);
}

.kubik-zaschity {
  background-image: url(./img/cube-defence.png);
}

.knopka-hoda {
  width: 100%;
}

.spisok-igrokov {
  display: inline-flex;
  flex-direction: column;
}

.aktivnyj-igrok-v-spiske {
  background-color: #bdf;
}