.modal-card {
    width: 660px;
}

.card-content {
    padding: 0.5em;
}

.narod {
    cursor: pointer;
}

.narod-kartinka {
    width: 76px;
    height: 140px;
    background-size: contain;
}

.narod-vybran {
    background-color: #C0DFFF;
}

.narod-ispolzovan {
    cursor: default !important;
    opacity: 0.5;
}

.igroki {
    overflow: hidden;
    min-height: 12em;
}

.igroki-riad {
    flex-flow: wrap;
}

.igrok {
    margin: 0.25em;
}

.igrok-kartochka {
    padding: 0.25em;
}

.avatar-igroka {
    background-position-y: 0;
    background-size: 70px;
    overflow: hidden;
}

.imia-igroka {
    line-height: 1.5em;
    padding: 0.25em 0.25em 0;
    margin: 0 !important;
}

.cvet-igroka {
    height: 0.5em;
    width: 100%;
    border: 1px solid #ccc;
}

.kletka {
}